<div class="container text-center mt-5 shadow rounded">
    <div class="row">
        <div class="col-5 my-3">
            <input class="form-control" type="search" placeholder="Buscar jugador/a..." aria-label="Search" [(ngModel)]="textoBusqueda" (ngModelChange)="filtroBusqueda()">
        </div>
        <div class="col my-3">
            <button type="button" class="btn btn-outline-primary float-end" [routerLink]="['/jugadores/nuevo']"><i class="fa-solid fa-user-plus"></i> Nuevo jugador/a</button>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            @if(loaded){
                <table class="table table-striped table-hover table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>DNI</th>
                    <th>Fecha de nacimiento</th>
                    <th>Equipo</th>
                    <th>Configuraci&oacute;n</th>
                  </tr>
                </thead>
                <tbody>
                    @for (jugador of listaFiltroJugadores; track jugador.id) {
                        <tr>
                            <td>{{jugador.id}}</td>
                            <td>{{jugador.nombre}}</td>
                            <td>{{jugador.apellidos}}</td>
                            <td>{{jugador.dni}}</td>
                            <td>{{jugador.fechaNac}}</td>
                            <td>Sin equipo</td>
                            <td><i class="fa-solid fa-circle-info text-primary mx-3 cursor-pointer" [routerLink]="['/jugadores/' + jugador.id]"></i>
                                <i class="fa-solid fa-pen-to-square mx-3 cursor-pointer" [routerLink]="['/jugadores/' + jugador.id + '/actualizar']"></i>
                                <i class="fa-solid fa-trash text-danger mx-3 cursor-pointer" (click) = "eliminarJugador(jugador.id, jugador.nombre, jugador.apellidos)"></i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }@else {
            <i class="fas fa-spinner fa-spin"></i>
        }
        </div>
    </div>
</div>
