/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
    cursor: pointer;
}

html,
body {
    height: 100% !important;
}

.wrapper{
    height: 100% !important;
}

.sidebar-navy-primary{
    background-color: #001f3f !important;
  }